<div class="row center">
    <form action="/add" class="col s3 center" method="POST">

      <div class="row center">
        <div class="input-field col ">
          <input name="iname" id="iname" type="text" class="validate">
          <label for="iname">Item Name</label>
        </div>
      </div>
      <div class="row center">
        <div class="input-field col s12">
          <input name="icost" id="icost" type="number" min="1" class="validate">
          <label for="icost">Cost</label>
        </div>
      </div>
      <div class="row cen">
        <div class="input-field col s12">
          <input name="iimg" id="iimg" type="text" class="validate">
          <label for="iimg">Image</label>
        </div>
      </div>
      <div class="left">
        <button class="btn">Add</button>
      </div>
    </form>
  </div>