


























/* .center{
  display: flex;
  justify-content: center;
  align-items: center; 
}
.row .col{
  
  float: none;
} 
.tab {  
  margin:auto;
}  */

/* .title{
  color: rgb(66, 63, 29);
  display:flex;
  justify-content: center;
  align-items: center; 

} 
 .nav-extended{
  width:50rem;
  margin:0 auto;
} */